{% extends 'layouts/base.html' %}

{% block title %} Lớp học {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<!--div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div-->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% endif %} 
<div class="container-fluid mt--7">

    <div class="row" id="studentlist">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                
                    <h3 class="mb-0">{{title}} <a title="Thêm lớp" class="nav-link pull-right" href="{% url 'add_class' %}" style="color: black; ">
                        <i style="font-size: xx-large" class="material-icons">add_circle_outline</i>
                        
                      </a></h3>

                </div>
                <hr>
                <div class="card-body">
                    
                    <div class="row">
                        
                        {% for item in items %}
                        <div class="col-md-3 border px-3 py-3" style="cursor: pointer;">
                            
                            <a href="/students?class_id={{ item.id }}">
                                {% if item.image %}
                                    <img style="height: 200px; width: auto;" src="{{item.image.url}}" class="img-thumbnail" alt="">
                               
                                {% else %}
                                <img style="height: 200px; width: auto;" src="/static/assets/img/class.png" class="img-thumbnail" alt="">
                                {% endif %}
                                
                            
                                <div class="d-flex flex-row justify-content-start">
                                    <h3>{{ item.name }}</h3>
                                </div>
                              
                            </a>
                            <hr>
                            <a title="Xóa lớp học" class="nav-link pull-right" href="/deleteclass?class_id={{item.id}}" style="color: rgb(0, 0, 0);"
                            onclick="return confirm('Bạn có chắc muốn xóa lớp học {{item.name}}? Tất cả học sinh trong lớp cũng sẽ bị xóa.')">
                                <i class="material-icons">delete_outline</i>
                                
                              </a>  
                            <a title="Sửa thông tin" class="nav-link pull-right" href="/editclass?class_id={{item.id}}" style="color: rgb(0, 0, 0);">
                                <i class="material-icons">edit</i>
                                
                              </a>
                             

                        </div>
                        
                        {% endfor %}
                        
                      
                    </div>
                    
                    
                </div>
            </div>

    
           
        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}