{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                      Nhập điểm
                    </h4>
                  </div>
                <div class="card-body">
                    {% if messages %}
                          {% for message in messages %}
                        
                              <div class="alert alert-{{message.tags}}" role="alert">
                                  {{ message }}
                              </div>
                          {% endfor %}
                      {% endif %}
                    <form method = "post" enctype="multipart/form-data">
                        <h5>Nhập từ file excel</h5>
                    <input type="file" name="myfile" class="form-control">
                                                     

                  
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" name = 'upload' class="btn btn-primary pull-left">Nhập điểm</button>
                    </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col-lg-12">
            <div class="card shadow" style="height: 100%;">
                <div class="card-header bg-transparent">
                    <div class="d-flex justify-content-between">
                    <h3 class="mb-0" style="font-weight: bold;">Hướng dẫn sử dụng</h3>
                    </div>
                </div>
                <div class="card-body">
                   
                        <h5>1. Chuẩn bị file excel lưu danh sách điểm học sinh cần nhập với 3 cột theo đúng thứ tự: stt, Họ và tên, Điểm</h5>
                        <img src="static/assets/img/diem.png"></img>
                        <br>
                        <br>
                        <h5 style="color: red;">Lưu ý: </h5>
                        <h5 style="color: red;">Tên của file excel cần đặt không dấu, không chứa các ký tự đặc biệt và khoảng trắng. Ví dụ: "diem.xlsx" là hợp lệ, "Điểm.xlsx" là KHÔNG hợp lệ</h5>
                        <h5 style="color: red;">Cột điểm nên để định dạng trong excel là "Number"</h5>
                        <h5 >Để thuận tiện và tránh sai sót, bạn nên tải về file mẫu và chỉnh sửa theo ý mình </h5>
                        <a class="btn btn-primary" href="https://drive.google.com/uc?id=15-EizcFFDJZ4fvxiQSSHWptcD3gJQQuK&export=download">Tải file mẫu</a>
                        <h5>2. Chọn tên lớp, loại bài kiểm tra, môn học lần lượt trong các mục "Tên lớp", "Bài kiểm tra", "Môn học"</h5>
                        <h5>3. Click nút "Choose file" và chọn tải lên file excel đã chuẩn bị</h5>
                        <h5>4. Click nút "Nhập điểm" để lưu dữ liệu vào hệ thống</h5>
                </div>
            </div>
        </div>
    </div>
   
</body>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
