{% extends 'layouts/base.html' %}

{% block title %} Danh sách học sinh {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<!--div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div-->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
    </div>
{% endfor %}
{% endif %} 
<style>
    #canvas-holder {
      width: 100%;
      margin-top: 50px;
      text-align: center;
    }
  
      canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      margin: 0 auto;
      
      
      }
      
      #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
      
      #chartjs-radar{
        width : 100%;
        height: 100%;
      }
      
      .chartjs-tooltip-key {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
      
      </style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(231,233,237)'
    };
     
    // Doughnut chart

    Chart.defaults.global.tooltips.custom = function(tooltip) {
    // Tooltip Element
    var tooltipEl = document.getElementById('doughnut-tooltip');

    // Hide if no tooltip
    if (tooltip.opacity === 0) {
      tooltipEl.style.opacity = 0;
      return;
    }

    // Set Text
    if (tooltip.body) {
      var total = 0;

      // get the value of the datapoint
      var value = this._data.datasets[tooltip.dataPoints[0].datasetIndex].data[tooltip.dataPoints[0].index].toLocaleString();

      // calculate value of all datapoints
    this._data.datasets[tooltip.dataPoints[0].datasetIndex].data.forEach(function(e) {
        total += e;
      });

      // calculate percentage and set tooltip value
      tooltipEl.innerHTML = '<h1>' + (value / total * 100) + '%</h1>';
    }

    // calculate position of tooltip
    var centerX = (this._chartInstance.chartArea.left + this._chartInstance.chartArea.right) / 2;
    var centerY = ((this._chartInstance.chartArea.top + this._chartInstance.chartArea.bottom) / 2);

    // Display, position, and set styles for font
    tooltipEl.style.opacity = 1;
    tooltipEl.style.left = centerX + 'px';
    tooltipEl.style.top = centerY + 'px';
    tooltipEl.style.fontFamily = tooltip._fontFamily;
    tooltipEl.style.fontSize = tooltip.fontSize;
    tooltipEl.style.fontStyle = tooltip._fontStyle;
    tooltipEl.style.padding = tooltip.yPadding + 'px ' + tooltip.xPadding + 'px';
  };

  var doughnutConfig = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{doughnut_data}},
        backgroundColor: [
          window.chartColors.green,
          window.chartColors.yellow,
          window.chartColors.red,
          
        ],
      }],
      labels: [
        "Điểm từ 9 đến 10",
        "Điểm từ 7 đến nhỏ hơn 9",
        "Điểm nhỏ hơn 7",
        
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'bottom',
        display: true,
        labels: {
          padding: 20
        },
      },
      tooltips: {
        enabled: true,
      }
    }
  };


    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, doughnutConfig);
    };
//var myChart = new Chart(document.getElementById("myChart").getContext('2d'), {options, data, type});

  
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=821058301783001&autoLogAppEvents=1" nonce="ernjqq4S"></script>

<div class="container-fluid mt--7">
    <div class="row">
       
        <div class="col-lg-7">
            <div class="card shadow" style="height: 100%;">
                <div class="card-header bg-transparent">
                    <div class="d-flex justify-content-between">
                    <h3 class="mb-0" style="font-weight: bold;">Thông tin lớp học</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5 item-photo">
                            {% if class.image %}
                            <img src="{{class.image.url}}" style="height: auto; width: 100%;"class="img-thumbnail" alt="">
                            {% else %}
                                <img style="height: auto; width: 100%;" src="/static/assets/img/class.png" class="img-thumbnail" alt="">
                            {% endif %}
                            
                        </div>
                        <div class="col-lg-7">
                            <h2 id="product-name" style="font-weight: bold; color: navy;">{{ student.name }}</h1>
                                <br>
                                   
                                    
                                        <h4 style="font-weight: bold;">Tên lớp: </h4> 
                                        <div > 
                                            <h4>{{class.name}}</h4>
                                        </div>
                                    
                                   
                                        <h4 style="font-weight: bold;">Sĩ số: </h4> 
                                        <div > 
                                            <h4>{{studentNumber}}</h4>
                                        </div>
                                    
                                    
                                        <h4 style="font-weight: bold;">Giáo viên chủ nhiệm: </h4> 
                                        <div > 
                                            <h4>{{user.last_name}} {{user.first_name}}</h4>
                                        </div>
                                   
                                 
                                        <h4 style="font-weight: bold;">Số điện thoại: </h4> 
                                        <div > 
                                            <h4>{{userProfile.phone}}</h4>
                                        </div>
                                        <h4 style="font-weight: bold;">Email: </h4> 
                                        <div > 
                                            <h4>{{user.email}}</h4>
                                        </div>
                                                                 
                            <br>
                            
                            <div class="row">
                                <div  class="fb-share-button pull-left" data-width=""
                                    data-layout="button_count" data-size="large" 
                                    data-share="true">
                                </div>
                            </div>
                           
                            
                            <div class="row">
                                <div>
                                <a href="#studentlist" class="btn btn-primary pull-left">Xem danh sách lớp</a>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    

                    
                </div>
            </div>

            

        </div>
        
        <div class="col-lg-5">
            <div class="card shadow" style="height: 100%;">
                <div class="card-header bg-transparent">
                    <div class="d-flex justify-content-between">
                    <h3 class="mb-0" style="font-weight: bold;">Biểu đồ phân bố điểm trung bình</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="wrapper" style="height: auto; width: 100%;">
                          <div >
                            <canvas id="chart-area"></canvas>
                          </div>
                          
                          <div id="doughnut-tooltip"></div>
                        </div>
                    </div>     
                    
                </div>
            </div>

        </div>
      

    
    </div>
    <br>
    <div class="row">
       
      <div class="col-lg-6">
          <div class="card shadow" style="height: 100%;">
              <div class="card-header bg-transparent">
                  <div class="d-flex justify-content-between">
                  <h3 class="mb-0" style="font-weight: bold;">Top 5 học sinh điểm cao nhất</h3>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                    <table style="background-color:rgb(100, 92, 221)" class="table table-bordered" name = "kqPerson" >
                      <tr style="color: seashell;">
                      <th style="font-size: 18px;">Họ và tên </th>                       
                      <th style="font-size: 18px;">Giới tính </th>
                      <th style="font-size: 18px;">Điểm trung bình</th>

                      </tr>
                      {% for item in topBestStudent	%}
                      {% if item.score >= 9 %}
                      <tr style="color: seashell; background-color: rgb(75, 192, 192);">
                      
                      <td style="font-size: 18px; " >{{item.name}}</td>
                      
                      <td style="font-size: 18px;">{{item.gender}}</td>
                      
                      <td style="font-size: 18px;">{{item.score}}</td>
                     
                      {% elif item.score < 9 and item.score >= 7 %}
                      <tr style="color: seashell; background-color: rgb(255, 205, 86);">
                      
                        <td style="font-size: 18px; " >{{item.name}}</td>
                        
                        <td style="font-size: 18px;">{{item.gender}}</td>
                        
                        <td style="font-size: 18px;">{{item.score}}</td
                      
                      {% else %}
                      <tr style="color: seashell; background-color: rgb(255, 99, 132)">
                      
                        <td style="font-size: 18px; " >{{item.student.name}}</td>
                        
                        <td style="font-size: 18px;">{{item.gender}}</td>
                        
                        <td style="font-size: 18px;">{{item.score}}</td
                      
                      
                      {% endif %}
                      </tr>
                      {% endfor %}		
                  </table>
                  </div>
                  
              </div>
          </div>

          

      </div>
      
      <div class="col-lg-6">
        <div class="card shadow" style="height: 100%;">
          <div class="card-header bg-transparent">
              <div class="d-flex justify-content-between">
              <h3 class="mb-0" style="font-weight: bold;">Top 5 học sinh điểm thấp nhất</h3>
              </div>
          </div>
          <div class="card-body">
              <div class="row">
                <table style="background-color:rgb(100, 92, 221)" class="table table-bordered" name = "kqPerson" >
                  <tr style="color: seashell;">
                  <th style="font-size: 18px;">Họ và tên </th>                       
                  <th style="font-size: 18px;">Giới tính </th>
                  <th style="font-size: 18px;">Điểm trung bình</th>

                  </tr>
                  {% for item in topWorstStudent	%}
                  {% if item.score >= 9 %}
                  <tr style="color: seashell; background-color: rgb(75, 192, 192);">
                  
                  <td style="font-size: 18px; " >{{item.name}}</td>
                  
                  <td style="font-size: 18px;">{{item.gender}}</td>
                  
                  <td style="font-size: 18px;">{{item.score}}</td>
                 
                  {% elif item.score < 9 and item.score >= 7 %}
                  <tr style="color: seashell; background-color: rgb(255, 205, 86);">
                  
                    <td style="font-size: 18px; " >{{item.name}}</td>
                    
                    <td style="font-size: 18px;">{{item.gender}}</td>
                    
                    <td style="font-size: 18px;">{{item.score}}</td
                  
                  {% else %}
                  <tr style="color: seashell; background-color: rgb(255, 99, 132)">
                  
                    <td style="font-size: 18px; " >{{item.student.name}}</td>
                    
                    <td style="font-size: 18px;">{{item.gender}}</td>
                    
                    <td style="font-size: 18px;">{{item.score}}</td
                  
                  
                  {% endif %}
                  </tr>
                  {% endfor %}		
              </table>
              </div>
              
          </div>
      </div>


      </div>
    

  
  </div>
  <br>
    <div class="row" id="studentlist">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">{{title}}</h3>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                        
                        {% for item in items %}
                        <div class="col-md-3 border px-3 py-3" style="cursor: pointer;">
                            
                            <a href="/studentdetail?student_id={{ item.id }}">
                                {% if item.image %}
                                    <img style="height: 300px; width: auto;" src="{{item.image.url}}" class="img-thumbnail" alt="">
                               
                                {% else %}
                                <img style="height: 300px; width: auto;" src="/static/assets/img/student.png" class="img-thumbnail" alt="">
                                {% endif %}
                                
                            
                                <div class="d-flex flex-row justify-content-start">
                                    <h3>{{ item.name }}</h3>
                                </div>
                                <div class="d-flex flex-row justify-content-start">

                                    <h5>Giới tính : {{ item.gender }}</h5>
                                </div>
                              
                            </a>
                        </div>
                        {% endfor %}
                      
                    </div>
                </div>
            </div>

           
        </div>

        {% endblock content %}

        <!-- Specific JS goes HERE -->
        {% block javascripts %}{% endblock javascripts %}